/* QUERIES */
/* 1344px */

@media (max-width: 87em) {
  .header::before {
    top: -50%;
  }

  .header::after {
    bottom: -50%;
  }
}

/* 1200px */

@media (max-width: 75em) {
  .header::before {
    top: -40%;
  }

  .header::after {
    bottom: -40%;
  }
}

/* 1072px */

@media (max-width: 67em) {
  .header::before {
    top: -30%;
  }

  .header::after {
    bottom: -30%;
  }
}

/* 992px */

@media (max-width: 62em) {
  .header::before,
  .header::after {
    display: none;
  }

  .header .nav-item.btn {
    background-color: var(--color-primary) !important;
  }

  .section-features h2 {
    font-size: 1.2rem;
  }

  .testimonials .row {
    gap: 3rem;
    justify-content: center;
  }
}

/* 768px */

@media (max-width: 48em) {
  .reservations {
    background: var(--tertiary-color);
  }
}

/* 576px */

@media (max-width: 36em) {
  .offer p {
    font-size: 1rem;
  }

  .testimonials {
    background: var(--color-primary);
  }

  .testimonials h2 {
    font-size: 2rem;
  }

  .testimonials h3 {
    font-size: 1.2rem;
  }
}

/* ANIMATIONS */
.bounce-none {
  transform: unset !important;
}

.bounce-left {
  transform: translateX(100vw);
}

.bounce-down {
  transform: translateY(-100vh);
}

.bounce-right {
  transform: translateX(-100vw);
}

.nav-item.btn i {
  animation: down 1.5s ease-out infinite;
}

.pulse {
  animation: pulse 1s linear 3;
}

.hero .btn {
  position: relative;
}

.hero .btn:hover::before {
  transform: scaleX(1);
}

.hero .btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: all 0.3s ease-out;
}

.hero-img {
  animation: spin 1.5s linear 2;
}

.wobble-link:hover i {
  animation: wobble 1s ease-in-out;
}

@keyframes down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(6px);
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(0.9);
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes wobble {
  16.65% {
    transform: translateX(6px);
  }

  33.3% {
    transform: translateX(-5px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}
