/* Global */

:root {
  --color-primary: #bc6c25;
  --color-primary-lighter: #fef9f4;
  --secondary-color: #45260a;
  --tertiary-color: #606c38;
  --accent: #666;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

.container,
.bounce {
  transition: 1s;
}

.row {
  row-gap: 3rem;
}

/* Revealing images effect */
.blur {
  filter: blur(10px);
}

*:focus {
  outline: unset;
  box-shadow: 0 0 5px 0.4rem rgb(230, 126, 34, 0.4) !important;
}

/* Revealing sections effect */
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn {
  transition: 0.3s;
}

.btn:not(.header .btn):not(.reservations .btn):hover {
  background-color: #4d562d !important;
}

/* Common properties */

.header,
.btn:not(.hero .btn):not(.reservations .btn):not(.reserve-btn),
.testimonial {
  background-color: var(--tertiary-color);
}

.header::before,
.header::after,
.header .nav-item.reserve-btn,
.chef-menu,
.testimonials,
footer {
  background-color: var(--color-primary);
}

.primary-color,
.header .navbar-brand:before,
.today li::marker {
  color: var(--color-primary);
}

.section-features .container,
.offer,
.reservations {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section-features,
.offer,
.today {
  background-color: var(--color-primary-lighter);
}

.tertiary-color,
.reservations input::placeholder,
option {
  color: var(--tertiary-color);
}

.header .navbar-light .navbar-nav .nav-link,
.hero .sub-heading,
option {
  font-weight: 500;
}

.section-features p,
.offer p,
.today p,
.today li {
  color: var(--accent);
}

.secondary-color,
footer .social a {
  color: var(--secondary-color);
}

/* HEADER */
.header {
  z-index: 0;
  height: 100vh;
}

.header .container {
  z-index: 2;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  right: -15%;
}

.header::before {
  top: -65%;
}

.header::after {
  bottom: -65%;
  z-index: -1;
}

.header .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  letter-spacing: -2px;
}

.header .navbar-brand:before {
  content: '\f805';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  margin-right: 5px;
}

.header .navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255, 0.7);
}

.header .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

/* HERO */
.hero {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.heading-primary {
  font-size: 4rem;
}

.hero-img {
  transition: 1s;
}

.hero-img:hover {
  transform: rotate(360deg);
}

/* FEATURES SECTION */
.feature {
  transition: 1.5s;
}

/* MAIN COURSE SECTION */
.main-course {
  background-color: #f56f14;
}

.price {
  gap: 1rem;
}

.price::before {
  content: '';
  width: 75%;
  height: 2px;
  background-color: var(--secondary-color);
}

/* TODAY'S MEAL SECTION */
.today {
  padding-top: 8rem;
}

.today h4 span {
  font-size: 2rem;
}

/* TESTIMONIALS SECTION */
.testimonials {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      to right bottom,
      rgb(188, 108, 37, 0.85),
      rgb(188, 108, 37, 0.85)
    ),
    url(../imgs/testimonial-table.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.testimonial {
  box-shadow: 0px 5px 10px 10px rgb(96, 108, 56, 0.2);
}

/* RESERVATIONS SECTION */
.reservations {
  background: linear-gradient(
      to right bottom,
      rgb(98, 123, 56, 0.65),
      rgb(118, 140, 81, 0.65)
    ),
    url(../imgs/reservation.jpg) no-repeat;
  background-size: cover;
}

.reservations select {
  height: 50px;
}

.reservations .btn {
  background-color: #1e2d03;
}

/* FOOTER */
footer {
  border-top: 2px solid var(--secondary-color);
}

footer .heart {
  font-size: 1.2rem;
}

footer .social a {
  font-size: 1.8rem;
}

footer .social i {
  transition: 0.5s;
}

footer .social i:hover {
  transform: rotate(360deg);
}

.github:hover {
  color: #fff;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #33ccff;
}

.linkedin:hover {
  color: #0a66c2;
}

/*
    CAROUSEL CODE
    code by Iatek LLC 2018 - CC 2.0 License
    code customized by Azmind.com
*/
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* my carousel code */
.today .carousel-inner {
  padding: 8rem;
}

.today .carousel-control-next,
.carousel-control-prev {
  width: fit-content;
  height: fit-content;
  top: 50%;
  border: none;
  background-color: unset;
}

.today .carousel-control-next,
.today .carousel-control-next:hover,
.today .carousel-control-next:focus,
.today .carousel-control-prev,
.today .carousel-control-prev:hover,
.today .carousel-control-prev:focus {
  color: var(--tertiary-color);
}
